/*
*   Target
*   ====================header, body, footer
*
*
*
*
 */

/*====== Header ======*/


/*====== Body ======*/

/*====== Side Navbar ======*/
body {margin:0}

.icon-bar {
    width: 90px;
    background-color: #555;
    margin-top: 50px;
}

.icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
}

.icon-bar a:hover {
    background-color: #000;
}

.active {
    background-color: #6495ed !important;
}

/*====== Top Navbar ======*/

/*====== Table Section ======*/

/*====== Graph Section ======*/

/*====== Footer ======*/

